/* Card Sheet */
.ccm.card, .ccm.cards {
  max-height: 90%;

  & h1 {
    font-family: unset;
    [name=name] { font-size: 18px; }
  }

  .sheet-tabs.tabs .item .fa-solid {
    font-size: 14px;
  }

  .tab.scrollable {
    padding: 5px;
  }

  .form-group.face {
    [data-action=addFace] {
      flex: 0 0 var(--input-height);
      height: var(--input-height);
      line-height: var(--input-height);

      .fa-solid {
        margin: 0;
      }
    }
  }

  .faces legend {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding: 0 5px;

    & input {
      height: 24px;
    }

    [data-action=deleteFace] {
      flex: 0 0 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      padding: 0;

      .fa-solid {
        margin: 0;
      }
    }
  }

  [data-tab=cards] {

    .cards {
      list-style: none;
      padding: 0;
      min-height: 200px;
    }

    .header, .card {
      display: flex;

      &.card { padding-left: 0; }

      > * {
        flex: 0 0 60px;
        text-align: center;
        margin: auto;
      }

      .sort {
        position: relative;

        [data-action=playCard] {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          opacity: 0;
          transition: opacity 300ms ease;

          &:hover {
            opacity: 1;
          }
        }
      }

      & img {
        width: 40px;
        flex: 0 0 40px;
        margin: 0 10px;
        border: none;
      }

      .name {
        flex: 1;
        text-align: left;
      }

      .face {
        display: grid;
        a[disabled] {
          opacity: 0.5;
        }
      }

      &.card .controls {
        display: flex;
        justify-content: space-evenly;
      }

      .drawn input:checked::before { color: var(--checkbox-checked-color); }
    }
  }
}

/* Temp fix for core styling issue. */
.theme-light :is(.ccm) nav.tabs .item {
  color: var(--color-dark-3);
  &.active { text-shadow: 0 0 8px var(--color-shadow-primary); }
}

/* Styling for various cards dialogs. */
.ccm.dialog {
  &.pass, &.deal, &.play {
    .dialog-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
