<div class="{{tabs.back.tabCssClass}}" data-group="primary" data-tab="back">
  {{formGroup backName.field localize=true value=backName.value placeholder="Back Name"}}
  {{formGroup backImg.field localize=true value=backImg.value placeholder="path/to/file/ext"}}
  {{formGroup backText.field localize=true value=backText.value enriched=backText.enriched button=true toggled=false}}
</div>
