<footer class="form-footer flexrow">
  <button type="button" data-action="shuffleCards">
    <i class="fa-solid fa-random"></i>
    <label>{{localize "CARDS.Shuffle"}}</label>
  </button>
  <button type="button" data-action="dealCards">
    <i class="fa-solid fa-share-square"></i>
    <label>{{localize "CARDS.Deal"}}</label>
  </button>
  <button type="button" data-action="resetCards">
    <i class="fa-solid fa-undo"></i>
    <label>{{localize "CARDS.Reset"}}</label>
  </button>
</footer>
