<header class="sheet-header flexrow">
  <img class="card-face" src="{{currentFace}}" data-tooltip="{{document.name}}" alt="{{document.name}}">
  <h1 class="name">
    {{formInput name.field value=name.value placeholder=name.placeholder}}
  </h1>
</header>
