<footer class="form-footer">
  {{#if shuffle}}
  <button type="button" data-action="shuffleReplace">
    <i class="fa-solid fa-recycle"></i>
    <label>{{localize "CCM.CardSheet.ScryingShuffleAndReplace"}}</label>
  </button>
  {{/if}}

  <button type="button" data-action="confirm">
    <i class="fa-solid fa-check"></i>
    <label>{{localize "Confirm"}}</label>
  </button>
</footer>
